@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.post-container {
    border-bottom: #dacf67 5px dashed;
    display: block;
    padding: 15px;
    font-family: "Comfortaa", cursive;
}

.post-container .top {
    display: flex;
    align-items: center;
}

.post-container .top img {
    border-radius: 75px;
    padding: 5px;
    width: 60px;
    border: #dacf67 5px solid;
}

.post-container .top p {
    color: darkgray;
    font-size: 24px;
}

.post-container p {
    padding: 0px 10px 10px 10px;
    font-size: 20px;
}

.post-container .bottom {
    display: flex;
    align-items: center;
}

.post-container a {
    flex: 100%;
    text-align: center;
    font-size: 18px;
}

.post-container i {
    padding-right: 5px;
}